<div class="d-flex">
    <div id="carouselExampleControls" class="carousel slide m-auto" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" routerLink="/tranding-songs-list">
            <img src="https://raw.githubusercontent.com/sagarpatil-17/music-app/main/img/BANNER_10493099244484.webp" class="d-block w-100" alt="..." (click)="gp()">
          </div>
          <div class="carousel-item" routerLink="/new-releases-list">
            <img src="https://raw.githubusercontent.com/sagarpatil-17/music-app/main/img/BANNER_73514728661342.webp" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" routerLink="/old-songs-list">
            <img src="https://raw.githubusercontent.com/sagarpatil-17/music-app/main/img/BANNER_73696732469743.webp" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>
