img{
    max-height: 250px;
    width: 250px;
}
li{
    list-style: none;
}

.card-body{
    margin-top: 65px;
}

@media(max-width:440px){
    .res{
        margin-bottom: -80px !important;
    }
    .res-d{
        margin-bottom: 16px !important;
    }
}