<div class="container" style="max-width: 840px;" *ngFor="let c of bolly">
  <div class="row g-0" *ngIf="c.id == bollySongs">
    <div class="col-md-4 mt-5">
      <img [src]="c.image" class="rounded-start" alt="...">
    </div>
    <div class="col-md-8 mt-5">
      <div class="ms-5">
        <h5 class="mt-4 fs-5 fw-semibold" style="font-family: 'Josefin Sans', sans-serif;">{{c.song2.songName}} Song | {{c.song2.Artists}} | {{c.movieName}}</h5>
        <h5 class="mt-4 fs-4 fw-bolder" style="font-family: 'Josefin Sans', sans-serif;">{{c.song2.songName}}</h5>
        <h5 class="mt-4 fs-6 fw-normal" style="font-family: 'Josefin Sans', sans-serif;"><span style="color: crimson;">{{c.movieName}}</span> - 2022</h5>
        <p class="mt-4 fw-normal" style="font-family: 'Josefin Sans', sans-serif;"><small class=" fs-6">{{c.song2.Artists}}</small></p>
        <audio class="mt-4" [src]="c.song2.audio2" controls></audio>
      </div>
    </div>
  </div>
</div>
