<div class="position-fixed w-100" style="z-index: 99; background-color: #ffffff;">
    <div class="d-flex">
        <ol class="d-flex  my-4" style="font-family: 'Josefin Sans', sans-serif;">
            <li class="ms-3 fs-5"><a href="#" class="all fw-semibold">All</a></li>
            <li class="ms-4 fs-5"><a class="fw-normal" (click)="gp()" routerLink="tranding-songs-list">Trending Songs</a></li>
            <li class="ms-4 fs-5"><a class="fw-normal" routerLink="new-releases-list">New Releases</a></li>
            <li class="ms-4 fs-5"><a class="fw-normal" routerLink="old-songs-list">Old Songs</a></li>
        </ol>
    </div>    
</div>