li{
    list-style: none;
    color: black;
}

a{
    color: #000;
    text-decoration: none;
}

a:hover{
color: #000;
}

ol{
    align-items: center;
}

.all{
    border-bottom: 2px solid crimson;
}

@media(max-width:440px){
    .my-4{
        margin-left: -20px;
    }
}